{% extends 'base.html.twig' %}
{% set icon_color = '193d17' %}
{% block head %}
    <link id="favicon" rel="shortcut icon" type="image/png" href="{{ path('app_utility_favicon') }}?bg={{ icon_color }}" />
    <script src="{{ asset('js/timecard.js') }}"></script>{% endblock %}

{% block title %}Weekly Summary{% endblock %}
{% block body %}
    <div class="row m-2 text-center">
        <div class="col">
            <button class="btn btn-outline-primary btn-sm" onclick="move(-7);">Previous Week</button>
            <button class="btn btn-outline-primary btn-sm" onclick="reset();">Today</button>
            <button class="btn btn-outline-primary btn-sm" onclick="move(7);">Next Week</button>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 mt-1 mb-1" id="cards">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">Summary</div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <thead>
                        <tr>
                            <th>Day</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody id="summary">
                        <tr>
                            <td>Monday</td>
                            <td id="Monday_total">-.-</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td id="Tuesday_total">-.-</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td id="Wednesday_total">-.-</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td id="Thursday_total">-.-</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td id="Friday_total">-.-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    let the_day = new Date();

    let REDMINE_URL = '{{ redmine_url }}';
    let REDMINE_USER_ID = {{ redmine_user_id }};

    $(document).ready(function(){

        let days = getDays(the_day);

        $.each(days, function(day, date){
        $('<div>').attr('id', day + '_card').appendTo('#cards').timecard({
            api_url: REDMINE_API_URL,
            url: REDMINE_URL,
            date: date.toISOString().slice(0,10),
            user_id: REDMINE_USER_ID
        })
        .bind("timecardchange", function(event, data){
        if(typeof data !== 'object'){
        $('#' + day + '_total').text(data.toFixed(1));
    } else {
        $('#' + day + '_total').text('-.-');
    }
    });
    });
        setInterval(updateCards, 2 * 60 * 1000);
        setInterval(updateIcon, 1000);
    });

    function updateIcon() {
        $('#favicon').attr('href', '{{ path('app_utility_favicon') }}?bg={{ icon_color }}&number[]=' + p_count + '&number[]=' + cr_count + '&number[]=' + r_count);
    }

    function getDays(theDate) {
        return {
            Monday:    new Date(theDate.setDate(theDate.getDate() - theDate.getDay() + 1)),
            Tuesday:   new Date(theDate.setDate(theDate.getDate() - theDate.getDay() + 2)),
            Wednesday: new Date(theDate.setDate(theDate.getDate() - theDate.getDay() + 3)),
            Thursday:  new Date(theDate.setDate(theDate.getDate() - theDate.getDay() + 4)),
            Friday:    new Date(theDate.setDate(theDate.getDate() - theDate.getDay() + 5))
        };
    }

    function move(amount) {
        the_day.setDate(the_day.getDate() + amount);
        let days = getDays(the_day);
        $.each(days, function(day, date){
            $('#' + day + '_card').timecard('updateDate', date.toISOString().slice(0,10));
        });
    }

    function updateCards() {
        let days = getDays(the_day);
        $.each(days, function(day) { $('#' + day + '_card').timecard('updateData'); });
    }

    function reset() {
        the_day = new Date();
        let days = getDays(the_day);
        $.each(days, function(day, date){
            $('#' + day + '_card').timecard('updateDate', date.toISOString().slice(0,10));
        });
    }
</script>
{% endblock %}